ActionChessClient/Connected Services/AuthenticationService/CAuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CAuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAuthenticationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8335/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8335/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8335/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataBaseAccessService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_TryLogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:TryLogIn" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_TryLogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryLogInResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_TrySignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:TrySignUp" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_TrySignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrySignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="TryLogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/TryLogIn" message="tns:IAuthenticationService_TryLogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/TryLogInResponse" message="tns:IAuthenticationService_TryLogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrySignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/TrySignUp" message="tns:IAuthenticationService_TrySignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/TrySignUpResponse" message="tns:IAuthenticationService_TrySignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/LogOut" message="tns:IAuthenticationService_LogOut_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAuthenticationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TryLogIn">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/TryLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrySignUp">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/TrySignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CAuthenticationService">
    <wsdl:port name="NetTcpBinding_IAuthenticationService" binding="tns:NetTcpBinding_IAuthenticationService">
      <soap12:address location="net.tcp://localhost:8336/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8336/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-7PAVH4U\mi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>