ActionChessClient/Connected Services/GameService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8331/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8331/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameService" />
  <xs:import schemaLocation="http://localhost:8331/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Animator" />
  <xs:element name="StartSearchGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelSearchGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="opponentId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GameService" minOccurs="0" name="mySideColor" type="q5:ESideColor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectGameManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerIsReady">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GameService" minOccurs="0" name="winner" type="q10:ESideColor" />
        <xs:element minOccurs="0" name="isLeave" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryMovePiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q13:guid" />
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Animator" minOccurs="0" name="newPosition" type="q14:CPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Animator" minOccurs="0" name="newPosition" type="q15:CPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleCollision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invaderId" type="xs:int" />
        <xs:element minOccurs="0" name="capturedId" type="xs:int" />
        <xs:element minOccurs="0" name="isCollisionStopsMoving" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformPawnToQueen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pieceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>